- hosts: all
  sudo: yes
  tasks:
    - name: Installing nginx
      apt: name=nginx update_cache=yes
    - name: Starting nginx on boot
      service: name=nginx enabled=yes state=started

    - name: Installing Git
      apt: name=git update_cache=yes
    
    - name: Installing Java
      apt: name=default-jdk update_cache=yes

    - name: Installing Jenkins
      apt: name=jenkins update_cache=yes

  